/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff') format('woff');
}

.header-image {
		color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/inception-b.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		z-index: 1;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 80px;
    background: transparent;
}

.headline h2 {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 30px;
    background: transparent;
}

.featurette-divider {
    margin: 50px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 70px;
}

.login{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: light;
	border-radius: 2px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.login:hover{
	text-decoration: none;
}

footer {
    margin: 50px 0 50px 0px;
		color: #777;
		font-size: 13px;
}

.container .contentlist{
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: #777;
	list-style-type: square;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 104px;
    }

    .headline h2 {
        font-size: 40px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 90px;
    }

    .headline h2 {
        font-size: 34px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
				font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 40px;
    }

    .headline h2 {
        font-size: 16.5px;
    }

    .featurette-divider {
        margin: 20px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 35px;
    }

    .headline h2 {
        font-size: 13.5px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 5px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}